.about{
  width: 100vw;
    height: calc(100vh-8vh-48px-50px);
    margin-top: 50px;
    padding: 50px;
  }
  
   .about-content{
    gap: 30px;
   }
  .left{
    width: 40vw;
    height: auto;
    border-radius: 14px;
  }
  .right{
    width: 40vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left img{
    width: 40vw;
    height: auto;
    object-fit: cover;
    border-radius: 14px;
  }

  @media(max-width:500px){
    .left{
      width: 340px;
      height: 340px;
    }
    .left img{
      width: 340px;
      height: 340px;
      object-fit: cover;
      border-radius: 14px;
    }
    .right{
      width: 350px;
      height: auto;
    }
  }
