* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    overflow-x: hidden;
    width: 100%;
  }
  
  .intro{
    margin-top: 25px;
    padding: 10px;
  }
  
  .title {
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
  }
  .a1{
    margin-top:16px;
  }
  .carousel{
    width: 400px;
    height: 400px;
  }
  .carousel-img{
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
  .a2{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .a2 p{
    font-weight: bolder;
    font-size: 1.2rem;
  }
  
  .carousel-img{
    border-radius: 14px;
  }
  
  @media(max-width:450px){
    .carousel{
      width: 340px;
      height:340px;
    }
    .carousel-img{
      width: 340px;
      height: 340px;
    }
    .a2{
      width:340px;
      height: 340px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  